@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
.App {
  font-family: 'Roboto', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* font-size: 30px; */
}

.container {
    width: 80%;
    margin: 50px auto;
}

textarea {
    width: 400px;
    height: 100px;
    background: #eee;
    padding: 10px;
    border-radius: 10px;
}

.word-count {
    color: blue;
    font-weight: bold;
}

.char-count {
    color: red;
    font-weight: bold;
}